body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.help-children{
    background-image: url("donate.jpg");
     background-repeat: no-repeat;
     height: 500px;
     background-size: cover;
   
}
section{
    height: 400px;
     padding-bottom: 140px;
}

.help-children h1{
    font-size: 55px;
    color: aliceblue;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}
.help-children p{
    color: aliceblue;
    text-align: center;
}
.anchor-button{
    text-decoration: none;
    background: orangered;
    padding: 13px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
     margin-left: 42%;
     margin-top: 10%;
     font-size: 16px;
}
h1{
    font-size: 40px;
    text-align: center;
    
}
p{
    text-align: center;
}
.ammount-box div{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
     text-align: center;
    background-color:   gainsboro;
    margin: 1%;
    
}
.ammount-box{
    text-align: center;
    
}
#sec-box{
    border: 2px solid orangered;
}
#taka-amount{
 text-decoration: underline;
padding: 4%;
}
 .food-family div{
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 5px;
     text-align: center;
    background-color:   gainsboro;
    margin: 1%;
 }
 .food-family{
    text-align: justify;
    margin-left: 10%;
 }
 #food{
    background-color:powderblue;
 }
 #shelter{
    background-color: pink;
 }
#education{
    background-color: antiquewhite;
}