body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.help-children{
    background-image: url("donate.jpg");
     background-repeat: no-repeat;
     height: 500px;
     background-size: cover;
   
}
section{
    height: 400px;
     padding-bottom: 110px;
}

.help-children h1{
    font-size: 55px;
    color: aliceblue;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}
.help-children p{
    color: aliceblue;
    text-align: center;
}
.anchor-button{
    text-decoration: none;
    background: orangered;
    padding: 13px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
     margin-left: 42%;
     margin-top: 10%;
     font-size: 16px;
}
h1{
    font-size: 40px;
    text-align: center;
    
}
p{
    text-align: center;
}
.ammount-box div{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
     text-align: center;
    background-color:    #F1EEE9;
    margin: 1%;
    
}
.ammount-box{
    text-align: center;
    
}
#sec-box{
    border: 2px solid  #FF6FB5;
    background-color:  #FFEEEE;
    color: red;
}
#taka-amount{
   margin: 30px;
   margin-left: 25%;
   margin-right: 25%;
   text-align: center;
   font-size: 16px;
    border-bottom: 1px solid gray;
    color: gray;
}
 
 .food-family div{
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 5px;
     text-align: center;
    background-color:   gainsboro;
    margin: 1%;
 }
 .food-family{
    text-align: justify;
    margin-left: 10%;
 }
 #food{
    background-color:powderblue;
 }
  
 #shelter{
    background-color: pink;
 }
#education{
    background-color: antiquewhite;
}
.donate-section{
    width: 40%;
    margin: 2%;
    padding: 2%;
    float: left;
}
.donate-section img{
    width: 100%;
    padding-top: 2px;
    border-radius: 5px;
}
.donate-section p{
    padding-bottom: 10%;
    font-size: 20px;
    color: gray;
}
.update-section h1{
    margin-right: 22%;
    margin-left: 12%;
    padding-left: 20%;
     text-align: center;
    
}
input[type=Email] {
    width: 20%;
     padding: 12px 40px;
    margin: 16px 0;
   font-size: 15px;
    background-color:  gainsboro;
    border: 1px solid #ccc;
    color: grey;
    border-radius: 5px;
     
  }
  input[type=button] {
    width: 15%;
    padding: 12px 15px;
    margin: 8px 0;
     font-size: 15px;
    background-color: rgba(255, 0, 0, 0.678);
    color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form{
   
     
    padding: 3%;
    margin-left: 22%;
    margin-right: 22%;
    background-color: #FFE6E6;
  }
  footer{
    background-color: black;
    color: red;
    padding-top: 3%;
    text-align: center;
    margin: 2px;
    padding-bottom: 1%;
  }
  footer p{
    color: grey;
    padding-bottom: 13px;
    font-size: 14px;
    
  }
   